.circular, .profile {
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  -webkit-border-radius: 25rem;
  -moz-border-radius: 25rem;
  background: url(../images/profile.jpg) no-repeat;
}

.profile {
  border: 0.3em solid #839496;
}

.profile:hover {
  transform:scale(1.1);
}

.center {
  margin:auto;
}

.text-center {
  text-align:center;
}

body {
  background-color:#05232b;
  color:#839496;
  font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
}


a {
  color:#DC322F;
  text-decoration:none;
}
a:hover {
  color:#DA363E;
}

.tab h4 {
  color:#DC322F;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .tab {
    padding-left:1em;
    padding-right:1em;
  }
  .tab:nth-child(even) {
    background-color:#002B36;
    color:#EEE8D5
  }
  .tab:nth-child(even):after {
    left:10%;
    top:9px;
    border-top:10px solid #002B36;
  }

  .tab:nth-child(odd) {
    background-color: #073642;
    color:#FDF6E3;
  }
  .tab:nth-child(odd):after {
    left:90%;
    top:9px;
    border-top:10px solid  #073642;
  }

  .tab:after {
    margin-bottom:1.1em;
    width: 0;
    height: 0;
    content:'';
    position:relative;
    border-left:10px solid transparent ;
    border-right:10px solid transparent ;
  }
}
